services:
  - docker
env:
  global:
    - GCP_PROJECT_ID=pgr301-devops-exam-monster
    - IMAGE=gcr.io/pgr301-devops-exam-monster/pgr301-exam-monsters@sha256:42eeb383cc2a4e0e8da3a5176e78f4b8fb6283db4c091b45b2a49f2243ab6934
    - CLOUD_RUN_SERVICE=devops-jonpus-gcp
    - CLOUD_RUN_REGION=europe-north1
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1
    - secure: SnRANZShZp0qcTgQxfIuRNjtXyofHoOAwcmSdGCyiqULn5kRmYJbMYOUciNGAdrwqY5CKMv9HTN43XsvoqJP1KHAACnVuj6/kWIAuCbALHmC14jo5qfy1Abe40p1A95WJPFFQq5i+sfEsLZNWALEgJa/iwRb5pYPDL/VscifRZCFS/Dvioc51LQWbr5ARHXAZflqkBl8hGpV/Bh3mFKR8m+/XGCx1Nu+wunmK+jgT2KbF48O67dZcE14XXakzFTcCvyWr7hmaWm8/c1ahM0FEEqegBMszWyuhMLU4N7hKKUwTcREhTzmFCqHSGNrQ9gx38bODjDuENXKz7BrRkHHPUNAkFnpAX11y51OXBzCzeJws4RCylniEfkw3/od8DXdvoBxll1wMU5PEiGcymOzLpHJM28H0Y95fi2A0R4o9QOANolwldG+A3sboVA6fO5LOpetGSrWLhuf5Py1C1Uu9iKcp17Ncv2YCjdM7P25vjpcXM+vLEW8iWdjQbgwPDuJeTmTKD0CDG6McHi5F/3LznEJJRFDSgoqVnLkuty8UOkRcj7K+9Gih6Z2fvz0zJj04OG2yef0V8TrO9Khn+hv8zfVus+9iBwW8LFgjHvZMD9LmD4nrUIASmYExcGy3dQaO63Y+RFHP/Lnjr6TjAqT0E9QwVS14XH99iH70WKOPNI=
    - secure: tnesw7AtGGICCcTtevdCQynNKMPWh0Yat8qY8G/2tdSbLU27+khU9WYUqcp41zvDOhh5Eqsg37+yAPG7B2LS2rH2zIU1bU84BtczYACyZpvdGO3HDYTidldEVwaMbpwV+vbx6NgTQAUjlksQoEr3exUcgsU9fD3jNZY5QkWJrx7ABrJ0+TsNnEh6YDm/tXVf/XQ5EzMKOI3ANd1b3fa8aW3VoilJA0sxgX2bGJYlrld8uy8x3lpWEnVitdjSJFxb3xYTML9UJfW6V50TxO8RfhHDM94uk9RPOnCaPgW1cuF7s6HnbBrkTjEp6wGLydQfpz3kWSv9xd9IrJuRUt/3P7AvsEwbtL6lPwGvXEYPmwoxXe8v/nQxrwKAAUhsOqzMzpTn84lkVcqZUumSFbA68mRhdB3VQX0cFxcUnmPpb5SfMIyGwigZlvujtUZZh6976RCbafV5PFxkrwdzhUjHtUBgEn7ndNDYSPGQ1TPv714H6MdLfWNczHNHBr4WkSB65UBHs5R81FwmtPlqvSZMVyDHCqqTHHwMa9S4/o8IqxOYGdpayyCz1sfSfxXzP7w7o12iReHCea8SNS3wPJVvd7rQfMTKw+FMY8C4uGjmKqyvsrpqnYX/sEXPMfe8G/FmQ32QNnkcgEN/YoRSqzczR2epmDy5mNmtFdVCXPKm69w=
before_install:
  - openssl aes-256-cbc -K $encrypted_98d237b7dbf4_key -iv $encrypted_98d237b7dbf4_iv
    -in google-key.json.enc -out google-key.json -d
  - curl https://sdk.cloud.google.com | bash > /dev/null
  - source "$HOME/google-cloud-sdk/path.bash.inc"
  - gcloud auth activate-service-account --key-file=google-key.json
  - gcloud auth configure-docker
  - gcloud config set project "${GCP_PROJECT_ID}"

install: true
script:
  - |-
    set -ex;
    docker build -t "${IMAGE}:${TRAVIS_COMMIT}" . && \
    docker push "${IMAGE}:${TRAVIS_COMMIT}" && \
    set +x
